/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  src : url(../styles/fonts/opensans/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2)format('woff2');
 }

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  src : url(../styles/fonts/opensans/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6FxZCJgg.woff2)format('woff2');
 }
/* cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  src : url(../styles/fonts/raleway/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2)format('woff2');
  }



